{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- parte de arriba presentación -->
<div class="text-center mb-5">
    <h1 class="display-4">Hola, soy <span class="text-primary">Daniel</span></h1>
    <p class="lead"> Estudiante de la materia Tecnologias Emergentes II </p>   
    <img src="/static/imagenes/mi_foto.jpg" class="rounded-circle mt-3" alt="Foto perfil" style="width: 150px; height: 150px; object-fit: cover;">
<!-- habilidades -->
<h2 class="text-center mb-4">Mis Habilidades</h2>
<div class="row text-center mb-5">
    <div class="col-md-4">
        <i class="bi bi-code-slash fs-1 text-primary"></i>
        <h4>Python / Flask</h4>
        <p>Desarrollo backend con Flask y Jinja2</p>
    </div>
    <div class="col-md-4">
        <i class="bi bi-window fs-1 text-primary"></i>
        <h4>Frontend</h4>
        <p>HTML5, CSS3, Bootstrap, JavaScript</p>
    </div>
    <div class="col-md-4">
        <i class="bi bi-database fs-1 text-primary"></i>
        <h4>Bases de Datos</h4>
        <p>SQLite, MySQL, PostgreSQL</p>
    </div>
    <div class="col-md-4">
        <i class="bi bi-database fs-1 text-primary"></i>
        <h4>Conexión a Bases de Datos con Python</h4>
        <p>Conexión a bases de datos utilizando Python con la libreria SQLite View</p>
    </div>
    <div class="col-md-4">
        <i class="bi bi-globe fs-1 text-primary"></i>
        <h4>Paginas Web estáticas</h4>
        <p>Render y github pages como alojamiento</p>
    </div>
    <div class="col-md-4">
        <i class="bi bi-cookie fs-1 text-primary"></i>
        <h4>Paginas con Cookies</h4>
        <p>Usando flask, jinja2 y python</p>
    </div>
   
</div>

<!-- proyectos -->
<h2 class="text-center mb-4">Mis Proyectos</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Corpeta de contactos </h5>
                <p class="card-text">Aplicación para gestionar Comtactos con Flask basandome en los cookies como guardado</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Carrito de compras  </h5>
                <p class="card-text">Aplicación web para gestionar un carrito de compras con Flask</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Desarrolo de aplicaiones web con bootstrap</h5>
                <p class="card-text">Aplicación web desarrollada con Bootstrap para un diseño responsivo</p>
            </div>
        </div>
    </div>
</div>

<!-- Botón de contacto -->
<div class="text-center mt-5">
    <a href="/contacto" class="btn btn-primary btn-lg">Contáctame</a>
</div>

{% endblock %}